.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75vh;
  width: 50vh;
  background-color: darkgray;
  margin: auto;
}

.top-decorations-div {
  width: 100%;
  flex: 1 1 12.5%; /* 1/8 of total height */
}

.display-div {
  width: 100%;
  flex: 1 1 12.5%; /* 1/8 of total height */
}

.display {
  text-align: right;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

.buttons-div {
  width: 100%;
  flex: 6 1 75%; /* 1/8 of total height */
}

.buttons-container {
  background-color: aqua;
  height: 90%;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}